@keyframes cambiaColorFondo 
{
    0% {
      background-color: #ffcccc; /* Rosado claro */
    }
    25% {
      background-color: #ff99ff; /* Rosa */
    }
    50% {
      background-color: #cc99ff; /* Púrpura */
    }
    75% {
      background-color: #9966ff; /* Violeta */
    }
    100% {
      background-color: #cc99cc; /* Lila */
    }
}